<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>edu.hsfulda.basicservlet.controller.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxForm</servlet-name>
        <servlet-class>edu.hsfulda.basicservlet.controller.TaxForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxFormV2</servlet-name>
        <servlet-class>edu.hsfulda.basicservlet.controller.TaxFormV2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxFormV3</servlet-name>
        <servlet-class>edu.hsfulda.basicservlet.controller.TaxFormV3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResult</servlet-name>
        <servlet-class>edu.hsfulda.basicservlet.controller.GetResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxForm</servlet-name>
        <url-pattern>/TaxForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxFormV2</servlet-name>
        <url-pattern>/TaxFormV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxFormV3</servlet-name>
        <url-pattern>/TaxFormV3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResult</servlet-name>
        <url-pattern>/GetResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
